# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Output & Logs
output/
*.csv
*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS artifacts
.DS_Store
Thumbs.db
